<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>アラーム一覧</title>
</head>
<body>
  <h1>アラーム一覧</h1>
  <div id="alarmList">
    <% @alarms.each do |alarm| %>
      <div class="alarm-item">
        <span><%= alarm.alarm_time.strftime('%Y-%m-%d %H:%M') %> - <%= alarm.comment %></span>
      </div>
    <% end %>
  </div>
  <button onclick="location.href='<%= new_alarm_path %>'">新しいアラームを追加</button>

  <script>
    console.log("JavaScriptがロードされました。");

    // アラームデータを取得
    const alarms = <%= @alarms.map { |alarm| {
      id: alarm.id,
      time: alarm.alarm_time.strftime('%Y-%m-%d %H:%M'),
      comment: alarm.comment
    } }.to_json.html_safe %>;

    console.log("アラームデータ:", alarms);

    function checkAlarms() {
      const now = new Date();
      const nowFormatted = now.getFullYear() + "-" + 
                          String(now.getMonth() + 1).padStart(2, '0') + "-" + 
                          String(now.getDate()).padStart(2, '0') + " " + 
                          String(now.getHours()).padStart(2, '0') + ":" + 
                          String(now.getMinutes()).padStart(2, '0');

      console.log("現在時刻:", nowFormatted);

      alarms.forEach(alarm => {
        console.log("チェック中アラーム:", alarm.time, alarm.comment);

        if (alarm.time === nowFormatted) {
          console.log("アラームが鳴ります:", alarm.comment);

          const msg = new SpeechSynthesisUtterance(alarm.comment);
          speechSynthesis.speak(msg);
        }
      });
    }

    setInterval(checkAlarms, 10000); // 10秒ごとにチェック
  </script>
</body>
</html>
